[submodule "jekyll"]
	path = jekyll
	url = git@github.com:Potsus/carte-noire.git
[submodule "projects/GeoSlice"]
	path = projects/GeoSlice
	url = git@github.com:Potsus/GeoSlice.git
[submodule "projects/php/src/BrowserCheck"]
	path = projects/php/src/BrowserCheck
	url = git@github.com:Potsus/BrowserCheck.git
[submodule "projects/php/src/TFLN"]
	path = projects/php/src/TFLN
	url = git@github.com:Potsus/TFLN-your-friends.git
[submodule "projects/php/src/ipSource"]
	path = projects/php/src/ipSource
	url = git@github.com:Potsus/ipSource.git
