[submodule "jekyll"]
	path = jekyll
	url = git@github.com:Potsus/carte-noire.git
[submodule "projects/GeoSlice"]
	path = projects/GeoSlice
	url = git@github.com:Potsus/GeoSlice.git
[submodule "projects/php/src/BrowserCheck"]
	path = projects/php/src/BrowserCheck
	url = git@github.com:Potsus/BrowserCheck.git
